.chefHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 11px;
  height: 80px;
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.chefHeader > h1 {
  font-weight: 600;
}

.chefClaudeLogo {
  width: 80px;
}

main {
  padding: 10px 30px;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.add-ingredient-form > input {
  border-radius: 6px;
  border: 1px solid #d1d5db;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
}

.add-ingredient-form > button {
  border: none;
  background-color: black;
  color: white;
  padding: 8px 13px;
  border-radius: 6px;
  font-weight: 800;
}

.add-ingredient-form > button::before {
  content: "+";
  margin-right: 5px;
}

.home-page > section > ul > li {
  padding: 5px;
}

.submitIngredient {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%); /* Centers it horizontally */
  width: 90%;
  max-width: 800px;

  background-color: #ffffeb;
  padding: 28px 36px;
  border-radius: 10px;
}

.submitIngredient {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-container h2 {
  margin: 0 0 4px 0;
  font-size: 1.125rem;
  color: #111827;
}

.text-container p {
  margin: 0;
  font-size: 0.95rem;
  color: #6b7280;
}

.submitIngredient button {
  background-color: #d16348;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 18px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
}

.submitIngredient button:hover {
  background-color: #b8533b;
}
